<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="st.system.mapper.SysDingdanMapper">
<resultMap id="BaseResultMap" type="st.system.model.AddressModel">
		<result column="id"	property="id"/>	
		<result column="seller_id" property="seller_id"/>
		<result column="sp_id" property="sp_id"/>
		<result column="quantity"	property="quantity"/>
		<result column="money" property="money"/>
		<result column="sh_dizhi_id" property="sh_dizhi_id"/>
		<result column="username" property="username"/>
		<result column="name" property="name"/>
		<result column="url" property="url"/>
		<result column="price" property="price"/>
		<result column="user_id" property="user_id"/>
	</resultMap>
	<sql id="Base_Column_List">
		 id, seller_id, sp_id, quantity, amount, sh_dizhi_id, username, name, url
	</sql>
	<!-- 添加订单 -->
	<insert id="insertDingdan" parameterType="Object">
	insert into st_mall.dd_xinxi(seller_id, sp_id, quantity, money, sh_dizhi_id) values(#{seller_id}, #{sp_id}, #{quantity}, #{money}, #{sh_dizhi_id})
	</insert>
	<select id="selectDingdan" resultMap="BaseResultMap" parameterType="Object">
		select * from st_mall.dd_xinxi d
		left join st_mall.sp_xinxi s
		on d.sp_id = s.id
		left join st_mall.sh_dizhi ss
		on d.sh_dizhi_id = ss.id
	</select>
	
</mapper>